
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DashboardPage</title>
</head>
<body>
    <div> 
        This is Our Hellskippers Dashboard
        <hr/>
        Welcome to Hellskippers
    </div>
</body>
</html>
